= form_for @user, :class => 'form-horizontal' do |f|
  .control-group
    = f.label :email, :class => 'control-label'
    .controls
      = f.text_field :email
  .control-group
    = f.label :password, :class => 'control-label'
    .controls
      = f.text_field :password
  .control-group
    = f.label :password_confirmation, :class => 'control-label'
    .controls
      = f.text_field :password_confirmation
  .control-group
    .controls
      = f.submit :class => 'btn'
